@charset "UTF-8";

body {
  font-size: 0.85em;
  text-align: left;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  padding: 0 50px 2em;
  margin: 1em auto 0;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: normal;
}

h2,h3 {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 5px 0 5px 5px;
  border-left: 10px solid #000000;
  border-bottom: 1px solid #000000;
}

h3,h4,h5,h6 { margin-top: 2.5em; }

p {
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

ul {
  margin: 1em 0 1em 20px; 
}

ol {
  margin: 1em 0 1em 30px; 
}

li {
  margin-bottom: 0.5em; 
 }